body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #334155, #475569); /* Gradient background */
}

.container {
    text-align: center;
}

h1 {
    color: #598EF3;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.cell.X {
    background-color: #add8e6;
    color: #003366;
}

.cell.O {
    background-color: #ffb6c1;
    color: #cc0033;
}

.cell:hover {
    background-color: #d4d4d4; /* Light grey on hover */
}

.message {
    font-size: 18px;
    color: #fff;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.popup h2 {
    color: #333;
}

.popup button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.popup button:hover {
    background-color: #45a049;
}

#resetButton {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}

#resetButton:hover {
    background-color: #45a049;
}
